<div style="display: flex">

  <img src="https://farm2.staticflickr.com/1861/29682791377_d0f7e5708f_z.jpg">

  <div class="text-font">
    <p>
      Hi, I'm Gigi. I live in Seattle, WA, and am currently pursuing a degree in Computer Science at Seattle
      University (anticipated graduation December 2019). I obtained my first degree in Psychology from UCLA in 2015.
      When I decided to move to Seattle after graduating, I became interested in studying Computer Science.
    </p>
    <br>
    <p>
      I enjoy learning about the mind, especially exploring questions of consciousness, intelligence,
      and learning. I would like to incorporate my studies in Psychology with my studies in Computer Science, so
      I am therefore interested in Artificial Intelligence. However, I am not limiting myself to this, as I also
      recently became interested in front- end web development.
    </p>
    <br>
    <p>
      As you will see as you explore this site, I also have a wide variety of hobbies, not all of which are expressed
      here! In addition to the things you see on my "hobbies" page, I enjoy playing Breath of the Wild on my new Nintendo
      Switch and playing D&D and board games.

    </p>
    <br>
    <p>
      NOTE: This site is a work in progress, and not in its final form. Stay tuned.
    </p>

  </div>

</div>

