
img {
  position: absolute;
  width: 50%;
  /*height: 50%;*/
  margin-top: 5%;
  margin-left: 20%;
  object-fit: cover;
  border-radius: 50%;

}

.background {
  background-color: aliceblue;
  height: 2000px;
}
