html, body {
  margin: 0;
  padding: 0;
}

.grid-list {
  width:100%;
  display: flex;
}

.text-style {
  font-family: Helvetica;
  font-size: large;
}

.container {
  position: relative;
}

.container-outer {
  /*height:600px;*/
  /*overflow-y: scroll;*/
  display: flex;
  flex-direction: column;
  flex: 4;
  width: 100%;
  /*background-color: aliceblue;*/

}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: 'Permanent Marker', cursive;
}

.sidebar {
  font-family: 'Poiret One';
  font-size: large;
  padding-left: 5%;
  padding-top: 15%;
  flex: 1;
  line-height: 2;
}

img{
  /*display: block;*/
  height:150px;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}



img:hover {
  cursor: pointer;
  opacity: 0.1;
}

a {
  margin-right: 1px;
  padding-right: 1px;
}


