<div class="grid-list">

  <mat-card class="header-background">
    <mat-card-header>
      <div mat-card-avatar class="book-header-img"></div>
      <mat-card-title>Books</mat-card-title>
    </mat-card-header>
    <div style="padding-top: 35px">
      <img mat-card-image
           src="https://d1nz104zbf64va.cloudfront.net/dt/a/o/top-7-books-that-changed-the-world.jpg"
           alt="Books Photo">
    </div>
    <mat-card-content>
      From nonfiction to fiction, check out my recently read collections
    </mat-card-content>
  </mat-card>
  <div style="padding-right: 20px"></div>
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/144020287@N04/albums/72157699613888571">
    <mat-card class="header-background">
      <mat-card-header>
        <div mat-card-avatar class="baking-header-img"></div>
        <mat-card-title>Baking</mat-card-title>
      </mat-card-header>
      <div style="padding-top: 35px">
        <img mat-card-image
             src="https://farm2.staticflickr.com/1870/43698575865_ee77d20e11_z.jpg"
             alt="Cake Photo"
             style="height: 220px; width: 300px; object-fit: cover">
      </div>
      <mat-card-content>
        Cakes, Pies, Cookies and more! See some of my work.
      </mat-card-content>
    </mat-card>
  </a>
  <div style="padding-right: 20px"></div>
  <a data-flickr-embed="true" href="https://www.flickr.com/photos/144020287@N04/albums/72157695365806880">

    <mat-card class="header-background">
      <mat-card-header>
        <div mat-card-avatar class="cooking-header-img"></div>
        <mat-card-title>Cooking</mat-card-title>
      </mat-card-header>
      <div style="padding-top: 35px">
        <img mat-card-image src="https://farm2.staticflickr.com/1861/44558749232_079301684a_z.jpg"
             alt="Pasta Photo">
      </div>
      <mat-card-content>
        Pastas and more
      </mat-card-content>
    </mat-card>
  </a>
  <div style="padding-right: 20px"></div>


  <mat-card class="header-background">
    <mat-card-header>
      <div mat-card-avatar class="exercise-img"></div>
      <mat-card-title>Activities</mat-card-title>
    </mat-card-header>
    <div style="padding-top: 35px">
      <img mat-card-image src="https://farm2.staticflickr.com/1893/43889643364_db0fc952c0_z.jpg">
      <mat-card-content>
        Swimming, Gym, outdoors
      </mat-card-content>
    </div>
  </mat-card>
  <div style="padding-right: 20px"></div>

</div>
