<!--link to resume-->
<!--link to github-->


<div style="display: flex">
  <div class="body-class">
    <a href="https://github.com/gigi1107">
      <img src="https://image.flaticon.com/icons/svg/25/25231.svg">
      <div class="center-text">

        Link to my Github
      </div>

    </a>
  </div>


  <div style="padding-right: 20px"></div>


  <div class="body-class">
    <a href="https://www.dropbox.com/s/94chygr2ms875lr/GenevaDavidson_2018.pdf?dl=0">
      <img src="https://farm2.staticflickr.com/1884/30958033828_94a2f5c24e_z.jpg" width="495" height="640">

      <div class="center-text">
        Link to Resume
      </div>
    </a>

  </div>

</div>
