<mat-card>
  <mat-card class="background-image">
      <div class="title-font">
        Geneva Rose Davidson
      </div>


    <div class="button-margin">
      <button mat-button class="button-font">Home</button>
      <button mat-button class="button-font">About Me</button>
      <button mat-button class="button-font">Hobbies</button>
      <button mat-button class="button-font">Portfolio</button>
    </div>
  </mat-card>
  <div class="spacer"></div>
  <!--<app-home></app-home>-->
  <app-hobbies></app-hobbies>
</mat-card>

