<mat-card>
  <mat-card class="background-image">
      <div class="title-font">
        Geneva Rose Davidson
      </div>


    <div class="button-margin">
      <button mat-button class="button-font" routerLink="/home">Home</button>
      <button mat-button class="button-font" routerLink="/about-me">About Me</button>
      <button mat-button class="button-font" routerLink="/hobbies">Hobbies</button>
      <button mat-button class="button-font" routerLink="/portfolio">Portfolio</button>
    </div>
  </mat-card>
  <div class="spacer"></div>
  <!--<app-home></app-home>-->
  <!--<app-hobbies></app-hobbies>-->
  <router-outlet></router-outlet>
</mat-card>
